.header{
    background-color: rgb(245, 223, 180);
    height: 200px;
    padding-top: 5px ;
    margin-top: 20px;
    color:rgb(77, 60, 60);
    width:75%;
    margin: 20px auto ;
    border-radius:10px;
    border:2px solid rgba(148, 148, 9, 0.932)
}
